<script>
      _categories = {{mg_categories_def_other|safe}};
      _values = {{mg_values_def_other|safe}};

      Highcharts.chart('chart-D', {
	  chart: {
              type: 'column'
	  },
	  title: {
              text: 'Mortgage (Other)'
	  },
	  subtitle: {
              text: 'Default per LTV band'
	  },
	  xAxis: {
              categories:_categories,
              crosshair: true
	  },
	  yAxis: {
              min: 0,
              max: 100,
              title: {
		  text: 'Loss Given Default %'
              },
           labels: {
            format: '{value}%'
          }
	  },
	  tooltip: {
              headerFormat: '<span style="font-size:12px">LTV Band: {point.key}</span><table>',
              pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
		  '<td style="padding:0"><b>{point.y:.2f} %</b></td></tr>',
              footerFormat: '</table>',
              shared: true,
              useHTML: true
	  },


	  plotOptions: {
              column: {
		  pointPadding: 0.2,
		  borderWidth: 0
        }
	  },
	  series: _values
      });
</script>