<div>
    <button id="add-row">Add Blank Row to bottom</button>
    <button id="del-row">delete row</button>
    <button id="clear">clear</button>
    <button id="reset">reset</button>
    <button id="csv">export to csv</button>
    <button id="excel">export to excel</button>
</div>


<script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>


<div id="example-table"></div>
<script>

var tableData = [
    {id:1, name:"Billy Bob", age:"12", gender:"male", height:1, col:"red", dob:"", cheese:false},
    {id:2, name:"Mary May", age:"1", gender:"female", height:2, col:"blue", dob:"14/05/1982", cheese:true},
]


var table = new Tabulator("#example-table", {
    data:tableData, //set initial table data
    columns:[
        {title:"Name", field:"name", editor:"input"},
        {title:"Age", field:"age", editor:"input"},
        {title:"Gender", field:"gender", editor:"input"},
        {title:"Height", field:"height", editor:"input"},
        {title:"Favourite Color", field:"col", editor:"input"},
        {title:"Date Of Birth", field:"dob", editor:"input"},
        {title:"Cheese Preference", field:"cheese", editor:"input"},
    ],
});
//Add row on "Add Row" button click
document.getElementById("add-row").addEventListener("click", function(){
    table.addRow({});
});

//Delete row on "Delete Row" button click
document.getElementById("del-row").addEventListener("click", function(){
    table.deleteRow(1);
});

//Clear table on "Empty the table" button click
document.getElementById("clear").addEventListener("click", function(){
    table.clearData()
});

//Reset table contents on "Reset the table" button click
document.getElementById("reset").addEventListener("click", function(){
    table.setData(tableData);
});

document.getElementById("csv").addEventListener("click", function(){
    table.download("csv", "data.csv");
});

//trigger download of data.xlsx file
document.getElementById("excel").addEventListener("click", function(){
    table.download("xlsx", "data.xlsx", {sheetName:"My Data"});
});


</script>